<div class="container">
  <h3>List All Missions</h3>
  <div class="search-hero">
    <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="&#61442;  Recherche par nom mission nom client date domaine">
  </div>
  <table class="table table-striped">
    <thead>
    <tr>

      <th scope="col">Nom mission</th>
      <th scope="col">Nom client</th>
      <th scope="col">Ville</th>
      <th scope="col">Departement</th>
      <th scope="col">Debut</th>
      <th scope="col">Fin</th>
      <th scope="col">Detail prestations</th>
      <th scope="col">Image</th>
      <th scope="col">Domaine </th>

    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of missionsData | filter:searchText">

      <td>{{item.mission_name}}</td>
      <td>{{item.name_user}}</td>
      <td>{{item.ville}}</td>
      <td>{{item.departement}}</td>
      <td>{{item.start_date}}</td>
      <td>{{item.end_date}}</td>
      <td>{{item.detail_mission}}</td>
      <td>{{item.image_mission}}</td>
      <td>{{item.domaine_tech}}</td>
      <td style="display: flex">
        <button type="button" class="btn btn-detail btn-sm" [routerLink]="[ '/detail',item.id]">Détail</button>
        <button type="button" class="btn btn-warning btn-sm" [routerLink]="['/edit',item.id]">Edit</button>
        <button type="button" class="btn btn-danger btn-sm ml-1" (click)="delete(item)">Delete</button>
        <button (click)="captureScreen()">Open PDF</button>


      </td>
    </tr>
    </tbody>
  </table>

  <button type="button" class="btn btn-success" [routerLink]="[ '/create']">Create Mission</button>
</div>

